{% extends 'base.html' %}

{% block content %}
<main class="site-content">
    <div class="container">
        <section class="posts">
            <h2 class="section-title">Recent Posts</h2>
            <div class="grid">
                {% for post in posts %}
                <article class="post">
<!--                    <img src="images/post1.jpg" alt="Post 1">-->
                    <h2><a href="{{ url_for('get_post_detail_page', slug=post.slug) }}">{{ post.title }}</a></h2>
                    <p>{{ post.body|truncate }}</p>
                    <a href="{{ url_for('get_post_detail_page', slug=post.slug) }}" class="read-more">Read More</a>
                    <h4>published {{ post.created_at.strftime('%Y-%m-%d') }} by <a href="{{ url_for('get_user_profile_page', username=post.author_username) }}">{{ post.author_username }}</a></h4>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}