{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.body }}</p>
{% if likes|length > 1 %}
<h5>{{ likes[0].user_id }} and {{ likes|length - 1 }} others like this post</h5>
{% elif likes|length == 1 %}
<h5>{{ likes[0] }} likes this post</h5>
{% else %}
<h5>no likes yet</h5>
{% endif %}
<h2>comments</h2>
{% for comment in comments %}
<a href="{{ url_for('get_profile_page', username=comment.author_username) }}">
    <h4>{{ comment.author_username }}</h4>
</a>
<h5>{{ comment.text }}</h5>
<h6>{{ comment.created_at.strftime('%Y-%m-%d %H:%m') }}</h6>
{% if replies %}
<h4>{{ comment.author_username }}</h4>
<h5>{{ comment.text }}</h5>
<h6>{{ comment.created_at }}</h6>
{% endif %}
{% endfor %}
{% endblock %}
